<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

    <body>
        <div class="container mt-6">
            <h1>Bienvenido a la Biblioteca</h1>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul	class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="/index"> Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/listarestud"> Estudiantes</a>
                        </li>
                        <li	class="nav-item">
                            <a	class="nav-link" href="/listarlib"> Libros</a>
                        </li>
                        <li	class="nav-item">
                            <a	class="nav-link" href="/listarpres">Prestamos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        
        <div class="container mt-6">
            <a th:href="@{/newpres}" class="btn btn-primary">Nuevo</a>
            <table class="table" >
                <thead style="background-color: #5BA5EA">
                    <tr>
                        <th>Id Prestamo:</th>
                        <th>NroId:</th>
                        <th>ISBN:</th>
                        <th>Fecha Prestamo:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${prestamos}">
                        <td th:text="${p.idPrestamo}"></td>
                        <td th:text="${p.nroId.nombres}"></td>
                        <td th:text="${p.isbn.titulo}"></td>
                        <td th:text="${p.fechaPrestamo}"></td>
                        <td>

                            <a class="btn btn-danger" 
                               th:href="@{/editarpres/}+${p.idPrestamo}"
                               >editar</a>
                            <a  
                               class="btn btn-warning"
                               th:href="@{/eliminarpres/}+${p.idPrestamo}"
                               >eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
